:root{
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
body{
    background-color: white;
    font-family: Poppins;
}
.grid-container > div:nth-child(even){
    background: #f8f8f8;
}
.grid-container{
    display: grid;
    grid-row-gap: 32px;
    grid-template-rows: 100%;
}
.top-iphonex{
    text-align: center;
    color: #111111;
    padding-top: 50px;
}
#look-future{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
#bgimg{
    width: 100%;
    padding: 10px;
}
.button{
    position: center;
    text-decoration: none;
    color: #444444;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 15px 25px;
}
.button:hover{
    text-decoration: none;
    background-color: #dadada;
    color: black;
    cursor: pointer;
}
.screen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
}
.left-content{
    text-align: center;
    margin-top: 10rem;
}
#desc-content{
    font-size: 16px;
    padding: 1.5rem;
}
.retina img{
    height: 70%;
    width: 70%;
    align-content: center;
    margin-left: 70px;
}
.right-content{
    text-align: center;
    margin-top: 15rem;
}
.tech, .camera{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 50px;
}
.top-content{
    text-align: center;
    padding-top: 6rem;
}
.oled, .design, .retina, .gesture{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
}
.design img{
    height: 80%;
    width: 80%;
    align-content: center;
}
.gesture img{
    height: 70%;
    width: 70%;
    align-content: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    padding: 40px;
    text-align: center;
}
#ftext{
    text-align: left;
    color: #777777
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    padding: 5px;
    text-align: left;
}
td{
    color: #666666
}
td:hover{
    cursor: pointer;
    text-decoration: underline;
}
.btm-table{
    border-collapse: collapse;
}
.btm-trow{
    border: none;
}
.start-end{
    text-align: center;
}
.btd{
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    text-align: center;
}
/* styles for accordian */
.accordian-section{
    display: none;
}


@media(max-width: 650px){
    .ftr{
        display: none;
    }
    .accordian-section{
        display: inline;
    }
    ul, li{
        list-style-type: none;
        text-align: left;
        font-size: 14px;
    }
    li:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }
    .active, .accordion:hover {
        background-color: #ccc;
    }
    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    .active:after {
        content: "\2212";
    }
    .panel {
        padding: 0 5px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}